.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.notifications {
  position: relative;

  span {
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.user {
  display: flex;
  align-items: center;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
}
